extends layout

block content
<<<<<<< HEAD
  h1 Bienbenido al sistema de manejo de proyectos 
  nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
        a(class="navbar-brand" href="#") Navbar
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            span(class="navbar-toggler-icon")

        div(class="collapse navbar-collapse" id="navbarSupportedContent")
            ul(class="navbar-nav mr-auto")
            li(class="nav-item active")
                a(class="nav-link" href="#") Home 
                span(class="sr-only") (current)
        
            li(class="nav-item")
                a(class="nav-link" href="#") Link

            li(class="nav-item dropdown")
                a(class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Dropdown
                div(class="dropdown-menu" aria-labelledby="navbarDropdown")
                a(class="dropdown-item" href="#") Action
                a(class="dropdown-item" href="#") Another action
                div(class="dropdown-divider")
                a(class="dropdown-item" href="#") Something else here
            li(class="nav-item")
                a(class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true") Disabled
            
            form(class="form-inline my-2 my-lg-0")
            input(class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search")
            button(class="btn btn-outline-success my-2 my-sm-0" type="submit") Search
=======

div (class="container-fluid")
  h1 Bienvenido al sistema de manejo de proyectos
  link (rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous")

  script (src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script)

  script (src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script)
  script (src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script)
>>>>>>> 0b2effa9cc393717fdc25404265d1d835271e1a8
