extends layout

block content
  if curp 
    h1 Ingresa informacion valida
  form(action="/login", method="POST")
    label(labelfor="fullName") Nombre completo:
    input(id="fullName", type="text", name ="fullName")
    label(labelfor="curp") CURP: 
    input(id="curp", type="password", name="curp")
    input(type="submit", value="Iniciar Sesion")
