mixin form(url, method, member)
    form(method=method, action=url)
        if member
            label(labelfor='rfc') RFC: 
            input(type='text', name='rfc', id='rfc', value=member.rfc)
            label(labelfor='name') Nombre Completo: 
            input(type='text', name='fullName', id='fullName', value=member.fullName)
            label(labelfor='lastName') Fecha de Nacimiento: 
            input(type='text', name='dob', id='dob', value=member.dob)
            label(labelfor='curp') CURP: 
            input(type='text', name='curp', id='curp')
            input(type='submit', value='Enviar')
        else 
            label(labelfor='rfc') RFC: 
            input(type='text', name='rfc', id='rfc')
            label(labelfor='name') Nombre Completo: 
            input(type='text', name='fullName', id='fullName')
            label(labelfor='lastName') Fecha de Nacimiento: 
            input(type='text', name='dob', id='dob')
            label(labelfor='curp') CURP: 
            input(type='text', name='curp', id='curp')
            input(type='submit', value='Enviar')
