extends ../layout  

block content
    h1 Miembros del sistema
    table 
        thead 
            th 
                th CURP
                th Nombre Completo
                th Direccion
                th 
                    a(href="/blank") Nuevo 
        tbody 
            each user in members.docs
                tr 
                    td #{member._curp}
                    td #{member._fullName}
                    td #{member._address}
                    td 
                        a(href=`/members/edit/${member._id}`) Editar
                        form(method="POST", action=`/members/${member._id}?_method=DELETE`)
                            input(type='submit', value='Eliminar') 
        tfoot 
            tr 
                td 
                    a(href="/members/1") << 
                if members.hasPrevPage 
                    td 
                        a(href=`/members/${members.prevPage}`) <
                if members.hasNextPage 
                    td 
                        a(href=`/members/${members.nextPage}`) >
                td 
                    a(href=`/users/${members.totalPages}`) >> 
            